/*variables*/
:root {
  --textColor: white;
  --secondaryTextColor: rgb(165, 165, 165);
  --background: #232323;
  --accent: #fffc38;
  --secondaryBg: #505050;
}

/* general */
* {
    font-family: "Courier New", Courier, monospace;
   }

::-moz-selection { /* Code for Firefox */
  color: var(--background);
  background: var(--accent);
}

::selection {
  color: var(--background);
  background: var(--accent);
}

body {
    background-color: var(--background);
    color: var(--textColor);
    width: 1000px;
    margin: auto;
}

header {
  text-align: right;
  padding: 10px;
  margin-right: 10vw;
  width: 100%;
  margin-top: 20px;
}

.title{
    background-color: var(--textColor);
    color: var(--background);
}

h1 {
    color: var(--accent);
    padding-top: 5%;
    }

.cursor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -3%;
  animation: blink 1s infinite step-end;
}

.yellow {
    color: var(--accent);
    padding-left: 3%;
}

/* left side bar */

.left-aside{
    width: 22%;
    /* height: 800px; */
    float: left;
    margin-right: 5px;
}

#navbar {
    background-image: url(street-imgs/signs1.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%;
    height: 275px;
}

.nav-title{
    display: grid;
    place-items: center;
    padding-top: 3%;
    margin-bottom: 2%;
}

.nav-button {
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 5%;
    width: 80%;
    color: var(--accent);
    padding: 2% 5%;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3%;
}
.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.mybuttons{
    margin-top: 5%;
    padding-left: 3%;
    border: var(--secondaryTextColor) solid 2px;
}
.mybuttons div{
    text-align: center;
    padding-bottom: 5%;
}

.buttons{
    text-align: center;
}

.changelog{
    padding: 3%;
    border: var(--secondaryTextColor) dashed 2px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.changelog span{
    color: var(--accent);
}
.changelog p{
    font-size: small;
    padding-bottom: 1%;
    margin-bottom: -3%;
    
}
.changelog div{
    margin-top: -3%;
    height: 90px;
    overflow-y: scroll;
    padding-left: 3%;
    scrollbar-width: none;
}
.changelog h3{
    margin-top: 3%;
    padding-bottom: -3%;
    margin-bottom: 5%;
}

/* right side bar */

.right-aside{
    /* height: 800px; */
    float: left;
    margin-left: 5px;
    align-items: center;
}
#right-home{
    width: 22%;
}

.info {
    margin: auto;
    border: var(--secondaryTextColor) solid 2px;
    margin-top: 10px;
    padding: 5%;
}
.info h3{
    padding-left: 0%;
}

#status {
    background-image: url(street-imgs/subway2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

#status h3{
    padding-top: 5%;
    margin-bottom: -3%;
}

#status div{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    margin: 7%;
}

#status .date{
    margin-right: 2%;
    color: var(--accent);
}

#todo{
    border: var(--secondaryTextColor) dashed 2px;
    padding-left: 2%;
    margin: 2%;
}
#todo h3{
    margin-bottom: -3%;
}
#todo li{
    margin-left: -5%;
}

#todo ul{
    height: 100px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--secondaryBg) var(--background);
}

.done{
    text-decoration-line: line-through;
}

#lastUp{
    background-image: url(street-imgs/building.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 4%;
    margin-top: 3%;
    height: 110px;
}

/* main blocks */

.main {
    float: left;
}
#home {
    width: 55%;
}

.main-quote {
    text-align: right;
    float: right;
    margin: 2%;
    font-size: small;
    color: var(--secondaryTextColor);
}

#updates{
    border: var(--secondaryTextColor) solid 2px;
}

p {
    padding: 1%;
}

.scroll{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--secondaryBg) var(--background);
}

#updates-content{
    padding-right: 5%;
    padding-left: 5%;
    height: 350px;
}

.update-section{
    padding: 0.5% 3%;
    font-style: italic;
    color: var(--secondaryTextColor);
    text-decoration: none;
}

.update-section:hover{
    color: var(--accent);
    cursor: pointer;
}

.update-title {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1% 3%;
    margin-bottom: -3.5%;
    margin-left: 2%;
}
.update-title img {
    padding-right: 3%;
} 

.update-content{
    margin-top: -3%;
    margin-bottom: -2%;
    padding-left: 3%;
    padding-right: 0%;
}

.update-content span a{
    font-size: small;
    color: var(--secondaryTextColor);
    cursor: pointer;
    text-decoration: none;
}

.update-content span a:hover{
    color: var(--accent);
}

.date{
    padding: 0%;
    padding-right: 2%;
    text-align: right;
    font-size: small;
    color: var(--secondaryTextColor);
}

#dot1 {
    position: relative;
    animation: bounce 2s infinite;
}
#dot2 {
    position: relative;
    animation: bounce 2s infinite 0.2s;
}

#dot3 {
    position: relative;
    animation: bounce 2s infinite 0.4s;
}

#welcome-text{
    margin-bottom: 3%;
}

.main p{
    text-align: justify;
    text-indent: 5%;
    padding: 0% 2%;
    margin-bottom: -2%;
}

/* footer */

footer {
    margin: 5px 0px;
    width: 100%;
}

/* Specific to other pages */
.sec-title{
    font-size: 30px;
    margin-bottom: 1%;
}

summary {
    cursor: pointer;
}

summary h3{
    display: inline;
    margin-bottom: -2%;
}

details {
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 3%;
}

.bookHeading{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1% 3%;
}
.authorDiv{
    margin-top: -12px;
    padding-left: 5%;
}

.by{
    font-size: small;
    color: var(--secondaryTextColor);
}

.author{
    color: var(--textColor);
    font-size:medium;
}

.aBook {
    padding: 3%;
    border: solid var(--secondaryTextColor) 2px;
    margin-top: 10px;
}
.bookTitle{
    padding-bottom: 0px;
    margin-top: 0px;
 }

#books-nav {
    background-image: url(street-imgs/signs2.jpg);
    background-repeat: no-repeat;
    background-color: #505050c7;
    background-blend-mode: multiply;
    /* background-attachment: fixed; */
    background-size: 100%;
    height: 420px;
    padding-top: 3%;
}

.books-box{
    float: left;
    height: 100px;
}

/* animations */
@keyframes blink {
  0%   {color: var(--accent);}
  50% {color: var(--background);}
}

@keyframes bounce {
    0% {bottom: 0px;}
    50% {bottom: 10px;}
    100% {bottom: 0px;}
}

@keyframes fancyBorder {
    0% {border: var(--secondaryTextColor) dashed 2px;}
    100% {border: var(--secondaryTextColor) solid 2px;}
}